/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My code starts here */
body {
  margin: 0 auto;
  width: 80%;
}

.main-container {
  background-image: url('../images/Background_About.png');
  height: 150vh;
  background-size: cover;
  background-position: center;
}

.header-img {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.creator-ellipse {
	display: flex;
	justify-content: center;
	justify-items: center;
	margin-bottom: 200px;
	font-size: 25px;
}

.creator-ellipse img {
	width: 85px;
	height: 85px;
}

.creator-craig {
	display: flex;
	justify-content: center;
	justify-items: center;
	font-size: 25px;
	margin-bottom: 200px;
}

.creator-craig img {
	width: 85px;
	height: 85px;
}

.creator-joshua {
	display: flex;
	justify-content: center;
	justify-items: center;
	font-size: 25px;
}

.creator-joshua img {
	width: 85px;
	height: 85px;
}

.icons {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	margin-right: 75px;
}

.footerContainer p {
	display: flex;
  justify-content: center;
  justify-items: center;
	color: white;
	margin-top: 50px;
	margin-right: 70px;
}
/* Begin media queries */

@media(max-width: 800px) {
  .main-container {
		width: 85%;
		height: 165vh;
  } 
  .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 100%;
	}
	
	.footerContainer p {
	display: none;
	}
}

/* Mobile view*/
@media (max-width: 500px) {
	.main-container {
		width: 90%;
		height: 150vh;
  }
  
  .header-img {
    display: none;
  }
