/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My code starts here */

body {
  margin: 0 auto;
  width: 80%;
}

.main-container {
  background-image: url('../images/Background_Home.png');
  height: 165vh
  background-size: cover;
  background-position: center;
}

.header-img {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.call-to-action{
width: 100%;
display: flex;
flex-direction: row;
color: white;
}

.call-to-action h1 {
  color: #327DFB;
  margin-right: 35px;
}

.middle-content {
  display: flex;
  width: 100%;
  color: white;
  margin-top: 300px;
}

.middle-content h1 {
  color: #327DFB;
}
.product-feat {
  width: 30%;
  margin-right: 25px;
}

.button-class {
display: flex;
justify-content: center;
justify-items: center;
}

#primary {
border-radius: 15px;
height: 50px;
margin-top: 20px;
}

.code-language {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 60px;
}

/* Begin media queries*/

/* Tablet view*/
@media(max-width: 800px) {
  .main-container {
    width: 85%;
  } 
  .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 100%;
  }
}

/* Mobile view*/
@media (max-width: 500px) {
	.container {
		width: 90%;
  }
  
  .header-img {
    display: none;
  }

  .call-to-action {
    margin-top: 200px;
  }